
$primary: #0C4C8A;
$secondary: #678A93;
$poster-bottom: #EBDCC0;
$overlay: rgba(50, 146, 156, 0.5);

body{
  margin-top: 90px;
}
/*============ NavBar =========*/
.navbar{
  box-shadow: 2px 2px 5px $primary;
  background: #fff;
  opacity: 0.8;

  .nav-item{
    font-size: 1.3rem;
    padding-right: 20px;

    .nav-link{
      color: brown;
    }
    .nav-link:hover{
      color: $primary;
    }
  }
  .nav-item:last-child{
    padding-right: 0;
  }
}
/*============== Poster ==========*/
#poster{
  background-image:url(../img/jeremy-bishop.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 700px;

  a{
    border-radius: 0px;
    margin-top: 30px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
  }
  a:hover{
    background-color:$secondary;
    opacity: 0.9;
    border-color: $poster-bottom;
    color:dark;
  }
  .overlay a i{
    padding-right: 10px;
  }

  .overlay{
    background-color: $overlay;
    position: absolute;
    min-height: 700px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .overlay img{
    width: 90%;
    height: 85%;
    margin-left: 50px;
  }
}

/*=========== Subscribe ===========*/
#subscribe{
  background: $secondary;

  .col-md-4 input{
    border-radius: 0;
  }
  .col-md-4 button{
    border-radius: 0;
  }
}

/*=========== Boxes ==================*/
  .card{
    border-color: $primary;
    border-radius: 0;
    h3{
      color: $primary;
    }
  }
  .second-card{
    background-color: $primary;
  }
  .forth-card{
    background-color: $primary;
  }

  /*========== Accordion ===============*/
  .card-header{
    background-color:$poster-bottom;
    opacity: .8;

    h5 button{
      font-size: 22px;
      i, span{
        color:$primary;
      }
    }
  }

  /*========== Authors =============*/
  #authors{
    .authors-info{
      p{
        margin-bottom: 80px;
      }
    }
    .card:hover{
      background-color:$secondary;
      color: white;
      .fa, h3{
        color:$poster-bottom;
      }
    }
    img{
      margin-top: -60px;
    }
    .fa{
      font-size: 20px;
      color:$primary;
    }
  }

  /*======= Contact form ===========*/
  #contact{
    background-image:url(../img/matt-sclarandis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    img{
      margin-top: 170px;
    }
  }
  .contactForm{
    button{
      color:#fff;
      background-color: $primary;
      font-weight: bold;
    }
  }

  /*======== Footer ========*/
  #footer{
    background-color: $secondary;
    color:$poster-bottom;

     a{
      color:$primary;
    }
  }


/*==================  Media Query ==================*/
//Extra small devices (portrait phones, less than 576px)//
@media (max-width: 575.98px) {
.navbar-brand{
    img {
      width: 20px;
      height: 20px;
    }
    h3{
      font-size: 20px;
    }
  }
span{
    width: 1.5rem;
    height: 1.5rem;
  }

  #poster{
    h1{
      font-size: 3rem;
    }
    a{
      padding: 10px 20px;
      font-size: 15px;
    }
  }

  #subscribe{
    input, button{
      padding: 10px 20px;
      width: 230px;
      margin: auto;
      margin-bottom: 10px;
    }
  }

  #boxes{
    .card{
      margin: 10px 30px;
    }
  }

  #about{
    .book-info{
      h2{
        font-size: 3rem;
      }
    }
  }

  #authors{
    .authors-info{
      h2{
        font-size: 3rem;
      }
    }
    .card{
      margin: 30px 30px;
    }
  }

  #contact{
    .contact-info{
      h2{
        font-size: 3rem;
      }
    }
    .contactForm{
      input, textarea{
        padding: 10px 52px;
        margin: 10px 30px;

      }
      span{
        display: none;
      }
      button{
        width: 14rem;
        margin: auto;
      }
    }
    img{
      width: 70%;
      margin: 50px 40px;
    }
  }

} //Extra Small Devices (576px) End//



// Small devices (landscape phones, 576px and up)//
@media (min-width: 576px) and (max-width: 767.98px) {

  #poster{
    h1{
      font-size: 4rem;
    }
    a{
      padding: 15px 40px;
      font-size: 18px;
    }
  }

  #subscribe{
    input, button{
      padding: 10px 20px;
      width: 26rem;
      margin: auto;
      margin-bottom: 10px;
    }
  }

  #boxes{
    .card{
      margin: 10px 50px;
    }
  }

  #about{
    .book-info{
      h2{
        font-size: 3rem;
      }
    }
  }

  #authors{
    .authors-info{
      h2{
        font-size: 3rem;
      }
    }
    .card{
      margin: 30px 50px;
    }
  }

} //Small Devices (576px - 767.98px) End//


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #boxes{
    .card{
      margin: 1rem;
    }
  }

  #authors{
    .card{
      margin: 1.5rem;
    }
  }
}
